body{
  background: #FFF;
  cursor: pointer; 
}

table {

    font-size: 50px;
    width: 100%;
}
td {

    border: 1px black solid;
    text-align: center;


}
#inputBox {
    border: 1px black solid;
    font-size: 50px;
    min-height:  110px;
    margin-bottom: 5px;
    width: 100%;
    word-wrap: break-word;
}
#settings{
    display: none;
    background: white;
    position: absolute;
    bottom: 9%;
    right: 0px;
    z-index: 5;
    border: 1px solid black;
}
#settingsButton{
    right:   0px;
    bottom: 0px;
    position: absolute;
    margin-top: 0px;
    height: 10%;
}
#settingsBack{
    opacity: 1;
    height: 120%;
    width: 100%;
    position: absolute;
    left:0;
    bottom: 0;
    top: 0;
    z-index: 4;
    display: none;
}
.imageButton {
    width: 100px;
    height: 100px;
}
#timeout {
position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    display: none;
}